.error-carga {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--dark-color);
    padding: 20px 0;
    padding-bottom: 60px;
}

.error-carga img {
    padding-bottom: 10px;
}

.error-carga h3 {
    font-size: 20px;
}
