@font-face {
    font-family: 'Futura-Medium';
    src: url('/fonts/Futura.ttf') format('ttf'), url('/fonts/Futura.woff') format('woff');
    font-weight: 400;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('/fonts/subset-Futura-Bold.woff2') format('woff2'), url('/fonts/subset-Futura-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abigral';
    src: url('/fonts/Abigral.ttf') format('ttf'), url('/fonts/Abigral.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

.futura-light {
    font-family: 'Futura-Medium', sans-serif;
    font-weight: 400;
}

.futura-bold {
    font-family: 'Futura', sans-serif;
    font-weight: 700;
}

.abigral-light {
    font-family: 'Abigral', sans-serif;
    font-weight: 100;
}

.abigral-bold {
    font-family: 'Abigral', sans-serif;
    font-weight: 700;
}
