.navbar {
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--shadow-color);
    height: 80px;
    width: 100%;
}

.logo-navbar {
    user-select: none;
    pointer-events: none;
    height: 50px;
    margin-left: 20px;
}

/* --------------------------------- MENU HAMBURGESA*/

.burger-menu-container {
    display: flex;
    justify-content: end;
    position: fixed;
    z-index: 100;
    background-color: transparent;
    border: none;
    transition: background-color 1s ease;
    border-top-left-radius: 15px;
    top: 0;
    right: 0;
    width: 190px;
    height: 69px;
    padding-top: 15px;
    padding-right: 20px;
}

.burger-menu-container.open {
    background-color: var(--white-color);
}

.burger-menu-icon {
    color: var(--dark-color);
    cursor: pointer;
}

.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    height: 100dvh;
    max-height: 100dvh;
    overflow-y: auto;
    overscroll-behavior: contain;
    background: var(--white-color);
    box-shadow: -4px 0 10px var(--shadow-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    gap: 40px;
    padding-bottom: 20px;
    padding-top: 100px;
    width: 235px;
}

.mobile-nav-menu.open {
    transform: translateX(0);
}

.mobile-nav-menu .burger-menu-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 40px;
}

.mobile-nav-menu li {
    cursor: pointer;
    user-select: none;
    text-align: end;
    font-size: 20px;
    padding-right: 24px;
}

.mobile-nav-menu img {
    width: 100px;
    margin-right: 24px;
}

/* --------- ESTILOS PARA LINKS*/

.menu-nav li a,
.burger-menu-nav li a {
    text-decoration: none;
    color: var(--dark-color);
}

@media (min-width: 576px) {
    .mobile-nav-menu {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .navbar {
        justify-content: center;
        transition: height 0.5s ease, border-radius 0.4s ease, box-shadow 0.3s ease;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        gap: 20px;
    }

    .logo-navbar {
        margin-left: 0px;
        transition: height 0.5s ease;
    }

    .menu-nav {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        transition: margin 0.5s ease;
        font-size: 16px;
        gap: 20px;
        margin-bottom: 40px;
    }

    .menu-nav li {
        letter-spacing: 3px;
    }

    .menu-nav li a {
        position: relative;
        text-decoration: none;
        padding-bottom: 5px;
    }

    .menu-nav li a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--gray-color);
    }

    .menu-nav li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--dark-color);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
    }

    .menu-nav li a:hover::after {
        transform: scaleX(1);
    }

    .navbar.navbar--shrink {
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
        height: 60px;
    }

    .navbar.navbar--shrink .logo-navbar {
        height: 30px;
    }

    .navbar.navbar--shrink .menu-nav {
        margin-bottom: 20px;
    }
}

@media (min-width: 1200px) {
    .menu-nav,
    .navbar {
        gap: 30px;
    }
}

@media (min-width: 1700px) {
    .menu-nav,
    .navbar {
        gap: 60px;
    }
}
