.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 120px;
    padding-bottom: 60px;
}

.sectionTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--dark-color);
    gap: 10px;
}

.sectionTitulo img {
    user-select: none;
    pointer-events: none;
    width: 100px;
}

.sectionTitulo h1 {
    font-size: 28px;
}

.sectionTitulo h2 {
    font-size: 20px;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: var(--dark-color);
    width: 300px;
    padding-bottom: 20px;
    gap: 20px;
}

.sectionContenido p {
    font-size: 16px;
}

.sectionContenido a {
    text-decoration: none;
    color: var(--blue-color);
}

@media (min-width: 576px) {
    .sectionContenido {
        width: 550px;
    }
}

@media (min-width: 768px) {
    .sectionTitulo h1 {
        font-size: 32px;
    }

    .sectionContenido {
        width: 660px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        gap: 40px;
        padding-top: 120px;
        padding-bottom: 80px;
    }

    .sectionTitulo img {
        width: 150px;
    }

    .sectionTitulo h1 {
        font-size: 42px;
    }

    .sectionTitulo h2 {
        font-size: 26px;
    }

    .sectionContenido {
        width: 1000px;
        gap: 40px;
    }

    .sectionContenido p {
        font-size: 18px;
    }
}
