.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 60px;
    gap: 40px;
}

.sectionContainer header h2 {
    color: var(--dark-color);
    font-size: 32px;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sectionContenido img {
    filter: drop-shadow(0px 0px 100px var(--dark-color-2));
    width: 360px;
}

.textosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--dark-color);
    width: 335px;
    gap: 20px;
}

.textosContainer p {
    font-size: 16px;
}

@media (min-width: 768px) {
    .sectionContenido {
        flex-direction: row;
        align-items: start;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding-top: 60px;
        padding-bottom: 100px;
        gap: 60px;
    }

    .sectionContainer header h2 {
        font-size: 42px;
    }

    .sectionContenido {
        align-items: center;
        gap: 60px;
    }

    .sectionContenido img {
        width: 520px;
    }

    .textosContainer {
        width: 600px;
    }

    .textosContainer p {
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    .sectionContenido {
        gap: 100px;
    }
}
