.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color);
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 20px;
}

.textosContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 325px;
    gap: 20px;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--white-color);
    gap: 10px;
}

.texto h2 {
    font-size: 24px;
}

.texto p {
    font-size: 16px;
}

.mapContainer {
    width: 325px;
    height: auto;
    filter: drop-shadow(0px 0px 100px var(--white-color-2));
}

.mapContainer a {
    color: var(--white-color);
    font-size: 16px;
}

@media (min-width: 768px) {
    .sectionContainer {
        flex-direction: row;
        align-items: start;
    }

    .mapContainer {
        height: 250px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding-top: 100px;
        padding-bottom: 100px;
        gap: 50px;
    }

    .textosContainer {
        gap: 40px;
    }

    .texto h2 {
        font-size: 28px;
    }

    .texto p {
        font-size: 18px;
    }

    .mapContainer {
        width: 800px;
        height: 350px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        gap: 100px;
    }
}
